<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/style.css">
        <title>Webshop</title>
    </head>
    <body class="bg-light">
        <div class="container-fluid top-bar sticky-top">

            <div class="container">
                <div class="col-12 text-white text-center d-block d-lg-none">
                    <h2 class="p-2 m-0">
                        Logó Webshop
                    </h2>
                </div>
                <nav class="navbar navbar-expand-lg navbar-dark px-0">
                    <!--<a class="navbar-brand d-block d-lg-none" href="#">Menü</a>-->
                    <button class="navbar-toggler sidenavButton" type="button" data-id="sidenavCategory">
                        <span class="navbar-toggler-icon"></span> Kategóriák
                    </button>
                    <button class="navbar-toggler sidenavButton" type="button" data-id="sidenavMenu">
                        Menü <span class="navbar-toggler-icon"></span>
                    </button>

                    <div id="sidenavCategory" class="sidenav sidenav-left">
                        <a href="javascript:void(0)" class="closebtn closebtn-right">&times;</a>
                        <h2>Kategóriák</h2>
                        {$categories_navbar}
                    </div>
                    <div id="sidenavMenu" class="sidenav sidenav-right">
                        <a href="javascript:void(0)" class="closebtn closebtn-left">&times;</a>
                        <h2>Menü</h2>
                        {$menu_sidebar}
                        <a class="nav-link is-ajax nav-kosar" href="index.php?module=kosar">Kosár</a>

                        <form action="index.php?module=search" class="form-inline m-4 is-ajax" method="get">
                            <input type="hidden" name="module" value="search">
                            <div class="input-group w-100">

                                <input type="text" class="form-control" name="query" placeholder="kulcsszó" required>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="collapse navbar-collapse" id="navbar">

                        <ul class="navbar-nav mr-auto">
                            {$menu_navbar}
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
        <div class="container-fluid header d-none d-lg-block bg-dark ">
            <div class="container text-white pt-3">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <h2 class="text-center bg-dark p-2 m-0">
                            Logó
                        </h2>
                        <h2 class="text-center bg-dark p-2 m-0">
                            Webshop
                        </h2>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="row d-flex align-items-center">
                            <div class="col">
                                <div class="row my-3">
                                    <div class="col">
                                        <i class="fas fa-phone-alt"></i><span class="ml-1 mr-3"> 06-1/123-45-67</span>
                                        <i class="far fa-envelope"></i><span class="ml-1 mr-3"> info@valami.hu</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <form action="index.php?module=search" class="form-inline is-ajax" method="get">
                                            <input type="hidden" name="module" value="search">
                                            <div class="form-row">
                                                <div class="col-auto">
                                                    <input type="text" class="form-control mr-3" name="query" placeholder="Keresés" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-auto">
                                                    <button type="submit" id="searchButton" class="btn btn-outline-warning" data-tooltip="tooltip" data-placement="right" title="Kereés!"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex align-items-center justify-content-end">

                                <div>
                                    <a id="caartButton" class="btn btn-outline-success btn-circle btn-xl mr-2 is-ajax nav-kosar" href="index.php?module=kosar" data-tooltip="tooltip" data-placement="right" title="Kosaram!">
                                        <i class="fas fa-shopping-cart"></i> (0)
                                    </a>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-outline-success btn-circle btn-xl mr-2" type="button" id="profilButton" data-toggle="dropdown" data-tooltip="tooltip" data-placement="right" title="Profil!" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="profilButton">
                                        <form class="px-4 py-3">
                                            <div class="form-group">
                                                <label for="email">Email cím</label>
                                                <input type="email" class="form-control" id="email" placeholder="email@example.com">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Jelszó</label>
                                                <input type="password" class="form-control" id="password" placeholder="Password">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Bejelentkezés</button>
                                        </form>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item is-ajax" href="index.php?module=regisztracio">Nincs még fiókja? Regisztráljon!</a>
                                        <a class="dropdown-item" href="#">Elfelejtette jelszavát?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-3 my-lg-4">
                <div class="col-12 col-lg-3 mb-3">
                    <div id="sideCategory" class="card border border-dark rounded-lg mb-3 mb-lg-5 d-none d-lg-block">
                        <div class="card-header p-3 bg-dark text-light text-uppercase user-select-none">
                            Kategóriák
                        </div>
                        <div class="card-body btn-group-vertical p-0">
                            {$categories_sidebar}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9 mb-3">
                    <div>
                        <div id="loading">
                            <h2 class="mt-5 text-center">
                                <i class="fas fa-spinner fa-spin"></i>
                                Loading....
                            </h2>
                        </div>
                    </div>
                    <div id="mainContent">
                        {$content}
                    </div>

                </div>


            </div>

            <div id="newest" class="row mx-0 my-3 my-lg-5">
                <div class="col border border-warning rounded-lg p-0">
                    <div class="alert alert-warning">Legújabb termékeink!</div>
                    <div class="row row-cols-1 row-cols-lg-4">

                        {$newest}

                    </div>
                    <div class="alert alert-warning text-right mb-0">Legújabb termékeink!</div>
                </div>
            </div>
            <button id="topButton" title="Az oldal tetejére!"><i class="far fa-arrow-alt-circle-up"></i></button>

        </div>
        <div class="container-fluid bg-dark p-5">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 d-flex align-items-end justify-content-center">
                    <div id="also_linkek" class="row text-center text-lg-left">

                        <div class="col-12 col-md-6">
                            {$menu_bottom}
                        </div>
                        <div class="col-12 col-md-6">
                            <p><a href="index.php?module=home">Impresszum</a></p>
                            <p><a href="index.php?module=home">Általános Szerződési Feltételek</a></p>
                            <p><a href="index.php?module=home">Adatkezelési Tájékoztató</a></p>
                            <p><a href="index.php?module=home">Nyilatkozat Elálláshoz</a></p>
                            <p><a href="index.php?module=home">Panaszkezelés</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <h3 class="text-white text-center">
                        <i class="fas fa-address-book"></i> Ügyfélszolgálat
                    </h3>
                    <ul class="list-group">
                        <li class="list-group-item">Kecskemét</li>
                        <li class="list-group-item">Nemtudommilyen utca 2.</li>
                        <li class="list-group-item"><a href="index.php">Webshop neve</a></li>
                        <li class="list-group-item"><a href="tel:+36001234567">+36-00/123-45-67</a></li>
                        <li class="list-group-item"><a href="mailto:val@mi.hu">val@mi.hu</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 text-light">
                    Google térkép esetleg
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/e8e7489ac2.js" crossorigin="anonymous"></script>
        <script src="scripts/app.js"></script>
    </body>
</html>