<?php

?>

<p>Mosógépek</p>
<ul>
    <li><a href="#">elöltöltős</a> => Csak az elöltöltőst mutatja</li>
    <li><a href="#">felültöltős</a> => Csak a felültöltőst mutatja</li>
</ul>
<hr>
ide meg az összes mosógép

<div class="row row-cols-2 row-cols-md-3">
    <div class="col mb-4">

        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/362x600/DDDDDD/808080?text=Kép+termékről" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">A termék pontos neve</h5>
                <p class="card-text">A termék leírása....</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">A termék ára.</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">

        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/362x600/DDDDDD/808080?text=Kép+termékről" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">A termék pontos neve</h5>
                <p class="card-text">A termék leírása....</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">A termék ára.</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">

        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/362x600/DDDDDD/808080?text=Kép+termékről" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">A termék pontos neve</h5>
                <p class="card-text">A termék leírása....</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">A termék ára.</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">

        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/362x600/DDDDDD/808080?text=Kép+termékről" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">A termék pontos neve</h5>
                <p class="card-text">A termék leírása....</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">A termék ára.</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">

        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/362x600/DDDDDD/808080?text=Kép+termékről" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">A termék pontos neve</h5>
                <p class="card-text">A termék leírása....</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">A termék ára.</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">

        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/362x600/DDDDDD/808080?text=Kép+termékről" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">A termék pontos neve</h5>
                <p class="card-text">A termék leírása....</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">A termék ára.</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">

        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/362x600/DDDDDD/808080?text=Kép+termékről" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">A termék pontos neve</h5>
                <p class="card-text">A termék leírása....</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">A termék ára.</small>
            </div>
        </div>
    </div>
    <div class="col mb-4">

        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/362x600/DDDDDD/808080?text=Kép+termékről" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">A termék pontos neve</h5>
                <p class="card-text">A termék leírása....</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">A termék ára.</small>
            </div>
        </div>
    </div>
</div>