{$alert_message}
<div class="col-12">
    <form action="index.php?module=password_recovery" method="post">
        <div class="card">
            <div class="card-header">Elfelejtett jelszó</div>
            <div class="card-body">
                <p>Kérjük adja meg az email címét!</p>
                <div class="form-group col-8 offset-2">
                    <label for="email">Email cím</label>
                    <input type="email" class="form-control" id="email_recovery" name="email" required>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-secondary">Küldés</button>
            </div>
        </div>
    </form>
</div>