<div class="card m-3 text-center border-0" style="width: 200px">
    <div class="card-header bg-white mb-3">
        Üdvözöljük <br><b>{$name}</b>
    </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            Adatok szerkesztése
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            Korábbi rendelések
        </a>
    </div>
    <div class="card-footer bg-white border-top mt-3">
        <a href="index.php?module=logout" class="btn btn-warning">Kijelentkezés</a>
    </div>
</div>